@import '../../styles/global.scss';

.footer {
    background-color: $color-paleta2-2;
    color: $color-paleta2-4;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
}

.social-media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 2px solid $color-paleta2-4;
    padding: 1rem 0;



    &__left {

        font-weight: bold;
        font-size: 1rem;
        align-self: center;
    }

    &__right {
        justify-self: end;



        img {
            width: 35px;
            height: auto;
            margin-left: 2rem;
        }
    }
}

.info-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 2px solid $color-paleta2-4;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }

    &__disclaimer {


        //align-content: center;

        h6 {
            font-weight: bold;
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
            //max-width: 70%;
            text-align: justify;
        }
    }

    &__contact {
        justify-self: end;


        h6 {
            font-weight: bold;
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
            // max-width: 70%;
            text-align: justify;
        }
    }
}

.copyright {
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    a {
        color: inherit;
        text-decoration: none;
    }

}