@import '../../styles/global.scss';

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 4rem;
    background-color: rgba(255, 255, 255, 0.6);
    width: -webkit-fill-available;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    &.scrolled {
        background-color: rgba(255, 255, 255, 0.9); // Blanco con transparencia cuando se hace scroll
    }

    .logo {
        //margin-left: 1rem;

        img {
            height: 50px;
        }
    }

    .menuIcon {
        display: none;
        cursor: pointer;

        span {
            display: block;
            width: 25px;
            height: 2px;
            background-color: black;
            margin: 5px 0;
            transition: 0.4s;
        }
    }

    .navMenu {
        list-style: none;
        display: flex;
        padding-top: 0.4rem;
        font-size: 18px;

        .link-tabs {
            margin: 0 10px;

            .inner-link {
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
        }
    }

    .navMenuActive {
        display: block;
    }

    .cartIcon {
        cursor: pointer;

        img {
            padding-top: 1rem;
            height: 35px;
            margin-left: 2rem;
        }

        .cart-count {
            position: absolute;

            background-color: red;
            color: white;
            border-radius: 50%;
            padding: 2px 6px;
            font-size: 0.75rem;
            line-height: 1;
        }
    }

    .rightmenu {
        display: flex;
        // margin-right: 1rem;
    }

    @media (max-width: 768px) {
        .navMenu {
            display: none;
        }

        .menuIcon {
            display: block;
        }

        .navMenuActive {
            position: absolute;
            background-color: white;
            top: 60px;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            //align-items: center;
            list-style: none;

            li {
                padding: 10px;
            }

            .link-tabs {
                margin: 0 10px;
                border-bottom: solid 1px #d7d7d7;

                .inner-link {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                }
            }
        }
    }
}

.noButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.cartModal {
    position: absolute;
    top: 80px;
    right: 0;
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000; // Se incrementa para asegurar que esté sobre otros elementos
    border-radius: 8px; // Bordes redondeados
    overflow: hidden; // Oculta cualquier contenido que se desborde

    &__card {
        display: flex;
        flex-direction: row;
        align-items: center; // Alinea verticalmente
        padding: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eeeeee; // Borde inferior para separar los items

        .card-details {
            display: grid;
            grid-template-columns: 3fr 1fr;
            padding-left: 15px;
        }

        img {
            flex-shrink: 0; // Evita que la imagen se comprima
            width: 90px;
            height: 90px;
            border-radius: 4px; // Imagen ligeramente redondeada
            margin-right: 10px; // Margen derecho para separar de texto
            object-fit: cover; // Asegura que la imagen cubra todo el espacio
        }

        h3 {
            font-size: 1rem;
            color: #333333;
            margin: 0 0 5px 0;
        }

        p {
            font-size: 0.875rem;
            color: #666666;
            margin: 0;
        }

        span {
            font-size: 1rem;
            color: #666666;
            font-weight: bold;
        }

        button {
            background-color: white;
            color: #333; // Cambiado para que el texto sea visible
            //border: 1px solid #ddd; // Agregado un borde sutil
            padding: 5px 10px;
            border-radius: 4px;
            margin-top: 10px;
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
            overflow: hidden; // Evita que el contenido se desborde durante el zoom
            position: relative;
            border: none;

            &:hover {
                .imgTrash {
                    transform: scale(1.1); // Aumenta el tamaño de la imagen un 10%
                    transition: transform 0.3s ease; // Suaviza la transición del zoom
                }
            }

            .imgTrash {
                width: 22px;
                height: 22px;
                transition: transform 0.3s ease;
            }
        }
    }

    .link-style {
        display: block;
        background-color: $color-paleta2-2;
        color: white;
        text-align: center;
        padding: 10px 20px;
        border-radius: 4px;
        text-decoration: none;
        font-weight: bold;
        margin-top: 15px; // Margen superior para separar del resto de los items

        &:hover {
            background-color: darken($color-paleta2-2, 10%);
            text-decoration: none; // Remueve el subrayado al hacer hover
        }
    }
}

.user-menu {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bold;

    .userImg {
        // padding-top: 30px;
        width: 25px;
        height: auto;
        padding-right: 10px;
    }

    .dropdown-menu {
        display: none; // Escondido por defecto
        position: absolute;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        width: 170px; // Ajusta según tus necesidades
        z-index: 100;
        margin-top: 1rem;
        font-weight: 400;

        .element-dm {
            padding: 8px;
            list-style: none;
            text-decoration: none;
            color: black;
            //padding-left: 45px;

            &:hover {
                background-color: #f0f0f0;
            }

            .clasea-test {
                text-decoration: none;
                color: black;
                //padding-left: 10px;
            }
        }

        .plain-button {
            background: none; // Elimina el fondo
            border: none; // Elimina el borde
            padding: 0; // Elimina el padding
            margin: 0; // Elimina los márgenes
            color: inherit; // Hereda el color del texto del elemento padre
            font: inherit; // Hereda la fuente del elemento padre
            cursor: pointer; // Mantiene el cursor como puntero para indicar que es clickeable
            outline: none; // Elimina el contorno que aparece al enfocar el botón

            &:hover,
            &:active,
            &:focus {
                background: none; // Asegura que no haya ningún efecto de fondo al interactuar
                box-shadow: none; // Elimina cualquier sombra
            }
        }
    }

    .show {
        display: block; // Mostrar cuando se activa
    }
}

.normalText {
    font-weight: 200;
}