.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../public/images/banneropc13.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    color: #fff;

    .image-hero {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .hero-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero-content {
        position: relative;
        z-index: 1; // Asegúrate de que el contenido esté encima del pseudo-elemento
        max-width: 600px;
        padding: 20px;
        text-align: center;
        color: white; // Color del texto
        border-radius: 10px;
        backdrop-filter: blur(5px); // Aplica desenfoque al fondo detrás del contenido
        background: rgba(0, 0, 0, 0.5); // Oscurece el fondo

        // Creamos un pseudo-elemento para el efecto de la imagen de fondo difuminada
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(to bottom, rgba(111, 109, 109, 0.471), rgba(111, 109, 109, 0.471)); // Utiliza interpolación para la imagen
            background-size: cover;
            background-position: center;
            border-radius: 10px; // Igual que el border-radius de hero-content
            filter: blur(8px); // Aumenta el desenfoque si es necesario
            z-index: -1; // Posiciona el pseudo-elemento detrás del contenido
        }
    }


    .title-home {
        font-size: 3rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

    .frase-home {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .shop-now {
        background-color: #e63946;
        color: white;
        padding: 0.75rem 2rem;
        font-size: 1.2rem;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    }
}