@import '../../styles/global.scss';

.profile-wishlist {
    display: flex;

    .wishlist-content {
        flex: 1;
        padding: 2rem 4rem;

        h1 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        .error-message {
            color: red;
            margin-bottom: 1rem;
        }

        .move-to-cart-button {
            padding: 10px 20px;
            background-color: $color-paleta2-2;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 1.5rem;

            &:hover {
                background-color: darken($color-paleta2-2, 10%);
            }
        }

        .wishlist-cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 1rem;

            .cards__card {
                display: flex;
                flex-direction: column;
                background: #fff;
                border: 1px solid #ddd;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                transition: box-shadow 0.3s ease, transform 0.3s ease;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
                    transform: translateY(-5px);
                }

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                h2 {
                    font-size: 1.3rem;
                    font-weight: 500;
                    padding: 1rem;
                }

                p {
                    font-size: 1.1rem;
                    padding: 0 1rem;
                }

                .quantity-control {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin: 10px 0;

                    button {
                        background-color: $color-paleta2-2;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        padding: 0 10px;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: darken($color-paleta2-2, 10%);
                        }

                        &:disabled {
                            color: #ccc;
                            cursor: not-allowed;
                            background-color: #f8f8f8;
                        }
                    }

                    span {
                        font-size: 1.2rem;
                    }
                }

                .card-buttons {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;

                    .view-button {
                        padding: 10px;
                        background-color: white;
                        color: $color-paleta2-2;
                        border: solid 1.5px $color-paleta2-2;
                        border-radius: 4px;
                        cursor: pointer;
                        text-decoration: none;

                        &:hover {
                            background-color: darken($color-paleta2-2, 10%);
                            color: $color-paleta2-4;
                        }
                    }

                    .wishlistButton {
                        background: none;
                        border: none;
                        cursor: pointer;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}