@import '../../styles/global.scss';

.crumb-path1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eef2f5;
    padding: 12px 24px;
    border-radius: 10px;
    margin: 0rem 4rem;
    margin-top: 6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    span,
    strong {
        font-size: 16px;
        color: #33475b;

        &:not(:last-child)::after {
            content: " > ";
            margin: 0 5px;
            color: #7f8c9a;
        }
    }

    strong {
        font-weight: 800;
        color: $color-paleta2-2;
    }

    p {
        margin: 0;
        font-size: 16px;
        color: #1a1a1a;
        font-weight: 500;

        span {
            color: #d93025;
        }
    }
}

.cart-summary1 {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
    gap: 2rem;

    &__cards {
        display: flex;
        flex-direction: column;

        &__card {
            background: #ffffff;
            border-bottom: 2px solid #ccc;
            padding: 15px;
            display: flex;
            flex-direction: row;
            max-width: 700px;
            gap: 1rem;

            .headerp {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .pname {
                    margin-bottom: 0px;
                    font-size: 1.2rem;
                    margin-top: 0;
                    padding-bottom: 0;
                }

                .pricep {
                    float: right;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 0;
                }
            }

            img {
                width: 100px;
                height: 100px;
                margin-right: 20px;
                object-fit: cover;
                border-radius: 5px;
            }

            p {
                clear: both;
                padding-top: 10px;
            }
        }
    }

    &__rightsection {
        padding: 20px;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 200px;
        height: 200px;
        margin-top: 2rem;

        &__totalprice {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        &__next {
            background-color: $color-paleta2-2;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 1rem;
            cursor: pointer;
            width: 100%;
            border-radius: 5px;

            &:hover {
                background-color: darken($color-paleta2-2, 10%);
            }
        }
    }
}

@media (max-width: 768px) {
    .cart-summary1 {
        display: grid;
        grid-template-rows: 3fr 1fr;
        padding: 2rem 1rem;

        &__cards {
            &__card {
                flex-direction: column;
                align-items: center;
                text-align: center;

                .headerp {
                    flex-direction: column;
                }

                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }

        &__rightsection {
            justify-self: center;
        }
    }

    .crumb-path1 {
        margin: 0 1rem;
        margin-top: 6rem;

        span,
        strong {
            font-size: 13px;
        }
    }
}

@media (min-width: 769px) and (max-width: 999px) {
    .cart-summary1 {
        padding: 2rem 1rem;
        gap: 2rem;
    }
}