@import '../../styles/global.scss';


.featuredProducts {
    margin: 3rem 4rem;
    margin-bottom: 4rem;

    @media (max-width: 768px) {
        margin: 2rem 0.7rem;
        margin-bottom: 4rem;
    }

    .featuredProducts__titleButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h3 {
            font-size: 2rem;
        }

        .link-style {
            text-decoration: none;
            color: $color-paleta2-2;
            font-weight: bold;
        }

        @media (max-width: 768px) {

            // margin: 1rem 0.7rem;
            h3 {
                font-size: 1.1rem;
            }

            .link-style {

                font-size: 0.8rem;
            }
        }

    }

    .carousel-container {
        position: relative;
        overflow: hidden;




        button {
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
            z-index: 10;
            background: transparent; // Fondo más claro para los botones
            color: black; // Color del texto
            border: none;
            font-size: 60px;
            font-weight: 600;
            cursor: pointer;
            padding: 10px 0;
            border-radius: 50%;
            transition: transform 0.3s;

            &:hover {
                //background-color: darken($color: rgba(255, 255, 255, 0.8), $amount: 10%);
                // Efecto de escala al hacer hover
                color: $color-paleta2-2;
            }

            &:first-child {
                left: 10px;
            }

            &:last-child {
                right: 10px;
            }
        }

        .featuredProducts__cards {
            display: flex;
            transition: transform 0.3s ease-in-out;
            height: 400px;

            @media (max-width: 768px) {
                &__card {
                    flex: 0 0 100%;
                }
            }

            @media (min-width: 769px) and (max-width: 999px) {
                &__card {
                    flex: 0 0 50%;
                }
            }

            &__card {
                min-width: 33.333%;
                background-size: cover;
                background-position: center;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding: 20px;
                box-sizing: border-box;

                .Linkito {
                    text-decoration: none;
                    color: $color-paleta2-2;
                }

                .card-content {
                    background: rgba(255, 255, 255, 0.8);
                    padding: 10px;
                    border-radius: 5px;


                    p {
                        font-style: italic;
                        text-decoration: none;
                        color: $color-paleta2-2;
                    }

                    h2 {
                        text-decoration: none;
                        color: $color-paleta2-2;
                    }

                }

                &__sale {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background-color: red;
                    color: white;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-weight: bold;
                }
            }
        }
    }
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}